@import "browser-reset";
@import "colors";
@import "fonts";

body {
    background: $background;
    box-sizing: border-box;
    font-family: $fontFamily;
    color: $primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}